
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    margin: 0% auto;
    max-width: 1080px;
}
header img{
  top: 0%;
  position: absolute;
}
header .fondo{
     height: 126px;
    width: 1280px;
}
.inicio{
  margin-top: 10%;
  height: 800px;
  width: 1280px;
background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0) 100%);
}
header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 0.5;
}

.btnsHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  width: 115%;
  position: absolute;
  margin-left: 100px;
}

.btn_menu{
  z-index: 1;
  position: absolute;
  left: 0;
}

.btn_comprar{
  position: fixed;
  z-index: 1;
  color: #02187e;
  background-color: #ffe901;
  font-family:'Lato';
  font-weight: bolder;
  font-size: 20px;
  border-radius: 30px;
  border: 8px solid #2982ff;
  width: 200px;
  height: 60px;
  box-shadow: 4px 4px #02187e;
  transition: background-color 1s, color 1s;
  right: 0;
}

.btn_comprar:hover{
  color: #ffe901;
  background-color: #02187e; 
  cursor: pointer;
}

.btn_comprar p{
  margin: 0%;
}

/* presentacion */
.parallax1{
  position: relative;
  }

.parallaxLayer{
	position: absolute;
}

#parallax1Layer0 img{
  margin-top:7%;
  opacity: 0;
  transition: opacity 0.5s ease
}

#parallax1Layer1 img{
  margin-top: 634px;
  margin-left: 68%;
  transform: translateY(30px);
  transition: transform 0.5s ease;

}

#parallax1Layer2{ 
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 144px;
  
}
#parallax1Layer2 img{
  transform: translateY(30px);
  transition: transform 0.5s ease;
}

#parallax1Layer3 img{
  margin-top: 388px;
  margin-left: 90px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}


#parallax1Layer4 img{
  margin-top: 335px;
  margin-left: 695px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

#parallax1Layer5 img{
  position: absolute;
  margin-top: 403px;
  margin-left: 404px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

#parallax1Layer3.mostrar img,
#parallax1Layer4.mostrar img,
#parallax1Layer5.mostrar img,
#parallax1Layer0.mostrar img,
#parallax1Layer1.mostrar img,
#parallax1Layer2.mostrar img,
#parallax1Layer8.mostrar img,
#parallax1Layer6.mostrar img,
#parallax1Layer7.mostrar img{
  opacity:1;
  transform: translateY(0);

}

#parallax1Layer6 img{
  margin-top: 388px;
  margin-left: 982.83px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

#parallax1Layer7 img{
  position: absolute;
  margin-top: 375px;
  margin-left: 390,35px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}
#parallax1Layer7,
#parallax1Layer5,
#parallax1Layer3,
#parallax1Layer6,
#parallax1Layerduende,
#parallax1Layer4
{
  z-index: 10;
}
#parallax1Layer8 img{
  margin-top: 91px;
  margin-left: 330px;
  opacity:0;
  transition: opacity 1.5s ease
}

/* Conoce a Spidey */

.duendeVerde h1{
  font-family: 'Lato';
  font-weight: 600;
  font-size: 60px;
  line-height: 56.7px;
}


.conoceASpidey h1{
  color: #FFFFFF;
  position: absolute;
  width: 646px;
  height: 114px;
  top: 944px;
    left: 235.35px;
  z-index: 10;
}

.conoceASpidey p{
  position: absolute;
  color: #FFFFFF;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 400; 
  line-height: 24px;
  text-align: left;
  z-index: 10;
  top: 1085px;
  left:235.35px;
  Width:586px;
  Height:154px
}

.duendeVerde .rectangulo{
  width: 1280px;
height: 844.5px;
  top: 761px;
  z-index: 0;
  position: absolute;
}

#parallax1Layerduende img{
  z-index: 10;
  position: absolute;
  width: 553px;
  height: 921px;
  margin-top: -164px;
  margin-left: 713px;

}

img.juegoDuende{
  position: relative;
  z-index: 5;
top: 352.72px;
left: 109.28px;


}
