
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap'); 
  
  
  body{
     margin: 0;
  }
header img{
  top: 0%;
  position: absolute;
}
header .fondo{
    height: 126px;
}

header{
  /* margin-left: -66px; */
  display: flex;
  justify-content: space-between;
   position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  transition: height 1s;
}

header img.fondo {
  height: 126px;
  width: 100%;
}

#parallax1Layer8 .logo {/* cuando scrolleo */
  transition: transform 1s ease; 
}

.oculto {
  opacity: 0;
  transition: opacity 0s ease;
}

.mostrard {
  opacity: 1;
  top: -16px;
}

.btnsHeader{
  display: flex;
  justify-content: center;
  margin-top: 1%;
  width: 78%;
  position: absolute;
  margin-left: 100px;
}

.btn_menu{
  z-index: 15;
  position: absolute;
  left: 0;
  transition:transform 1s ease; 
}

.btn_comprar{
  position: fixed;
  z-index: 15;
  width: 200px;
  right: 0;
  margin-right: 7%
}
.btn_comprar, .btn_comprarAhora{
  height: 60px;
  color: #02187e;
  background-color: #ffe901;
  font-family:'Lato';
  font-size: 20px;
  border-radius: 30px;
  border: 8px solid #2982ff;
  box-shadow: 4px 4px #02187e;
  transition: background-color 1s, color 1s;
}

.btn_comprar:hover, .btn_comprarAhora:hover{
  color: #ffe901;
  background-color: #02187e; 
  cursor: pointer;
}

.btn_comprar p, .btn_comprarAhora p{
  margin: 0%;
  font-weight: bolder;
}
.inicio{
  margin-top: 10%;
  height: 950px;
background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0) 100%);
}
/* presentacion */

/* .spidermanInicio{
  width: 1280px;
} */
/* .spidermanFondo{
  margin: 0;
} */
.inicio{
  margin-top: 0;
}
.inicio div{
	position: absolute;
}

#parallax1Layer0 img{
  margin-left: 3%;
  opacity: 0;
  width: 100%;
  transition: opacity 0.5s ease;
}

#parallax1Layer1 img{
  margin-top: 100%;
  margin-left: 70%;
  transform: translateY(30px);
  /* transition: transform 0.5s ease; */
}
#parallax1Layer2 .edifIzq{
margin-top: 20%;
}
#parallax1Layer2 .edifDer{
position: absolute;
left: 236%;
top: 10%;
}
#parallax1Layer2 .ediIzq{
position: absolute;

}

.inicio #parallax1Layer2 img{
  transform: translateY(80px);
  transition: transform 0.5s ease;
}

#parallax1Layer3 img{
  margin-top: 93%;
  margin-left: 25%;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}


#parallax1Layer4 img{
  margin-top: 86%;
  margin-left: 195%;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

#parallax1Layer5 img{
  position: absolute;
  margin-top: 403px;
  margin-left: 404px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

#parallax1Layer3.mostrar img,
#parallax1Layer4.mostrar img,
#parallax1Layer5.mostrar img,
#parallax1Layer0.mostrar img,
#parallax1Layer1.mostrar img,
#parallax1Layer2.mostrar img,
#parallax1Layer8.mostrar img,
#parallax1Layer6.mostrar img,
#parallax1Layer7.mostrar img{
  opacity:1;
  transform: translateY(0);

}

#parallax1Layer6 img{
  margin-top: 130%;
  margin-left: 351%;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

#parallax1Layer7 img{
  position: absolute;
  margin-top: 375px;
  margin-left: 390,35px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}
#parallax1Layer7,
#parallax1Layer5,
#parallax1Layer3,
#parallax1Layer6,
#parallax1Layerduende,
#parallax1Layer4
{
  z-index: 10;
  position: absolute;
}
#parallax1Layer8 img{
  margin-top: 91px;
  margin-left: 330px;
  opacity:0;
  transition: opacity 1.5s ease
}

/* Conoce a Spidey */
.duendeVerde h1{
  width: 646px;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 60px;
  color: #FFFFFF;
  position: absolute;
  height: 114px;
  top: 815px;
    left: 103.35px;
  z-index: 10;


line-height: 57px;


}

.conoceASpidey p{
  position: absolute;
  color: #FFFFFF;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 400; 
  line-height: 24px;
  text-align: left;
  z-index: 10;
  top: 970px;
  left:103.35px;
  Width:586px;
  Height:154px
}

.duendeVerde .rectangulo{
  top: 700px;
  width: 100%;
  z-index: 0;
  position: absolute;
}

#parallax1Layerduende img{

  height: 100%;
  margin-top: -45%;
  margin-left: 131%;
}

img.juegoDuende{
position: relative;
z-index: 5;
top:203.72px;
left: 7%;
}

/*Seccion cards SM*/

.juegoSpiderman{
  display: flex;
  margin-top: 26%;
  justify-content: space-between;
  justify-self: center;
  position: absolute;
  left: 11%;
  right: 8.5%;
}

.juegoSpiderman .milesMoralesJugando{
  position: absolute;
  top: 0px;
  left: 34.5%;
}

.juegoSpiderman p{
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 333px;
  height: 218px;
}


.cardsJuegoSM{
  opacity: 0.00;
	transition: 1s all ease-in-out;
	-moz-transition: 1s all ease-in-out;
	-webkit-transition: 1s all ease-in-out;
  transform: translateY(90px);
}

.active{
  opacity: 1;
  transform: translateY(0px);
}

/*Seccion Gwen Stacy*/
.seccionGwenStacy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 1000px;
  margin-left: -2%;
}

.fondoSeccionGS{
  position: relative;
  z-index: 1;
  width: 100%; 
  height: 100%;
}

.cardsGS{
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.cardGS1, .cardGS2, .cardGS3{
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-left: 10%;
}

.parallax-elementGS{
  transition: transform 0.5s ease-out;
}
.cardGS1{
  margin-top:-52%;
}
.cardGS2{
  margin-top: -13.5%;
}
.cardGS3{
  margin-top:-15%
}
.cardGS1:hover, .cardGS2:hover, .cardGS3:hover{
  animation: hoverCardGS 0.8s;
  z-index: 5;
  cursor: pointer;
}
@keyframes hoverCardGS {
  0%{transform: translateY(0px) rotateY(0deg);}
  50%{transform: translateY(5px) rotateY(25deg)}
  100%{transform: translateY(0px) rotateY(0deg)}
}

/*Seccion vengadores*/

.seccionVengadores{
  position: absolute;
  top: 472%;;
  width: 100%;
  height: 166%;
  background-color: #000;
  clip-path: polygon(0 0, 100% 0%, 100% 92%, 0 81%);
}

.ftVengadores{
  position: relative;
  justify-items: center;
}

.fondoFtVengadores, .fondoFtVengadores1{
  position: absolute;
  left: 10%;
  top: 545%;
  z-index:1;
}
.fondoFtVengadores1{
  z-index: 2;
}
#panteraNegra{
  margin-left: 44.5%;
  margin-top:  5%;
  position: relative;
  z-index: 4;
}

#piernasLargas{
    margin-top: -35%;
    left: 16%;
  position: relative;
  z-index: 1;
}
#hulk{
  position: relative;
  z-index: 1;
  margin-top: -52%;
  left: 17%;
}
.seccionVengadores h1{
  font-weight: 700;
  width: 667px;
  margin-left: 107px;
  line-height: 94.5%; 
  margin-top: 222px;
  height: 500%;
}

.seccionVengadores h1, .comprarAhora h1{
  color: #FFF;
  font-family: 'Lato';
  font-size: 60px;
  font-style: normal;
  position: relative;
}

/* Mas amigos  */

.masAmigos{
  max-width: 1280px;
  position: relative;
  margin-left: 2%;
}
.masAmigos h1, .masAmigos .masAmigosTexto h3, .masAmigos .masAmigosTexto p{
  color: #000;
  font-family: 'Lato';
  font-style: normal;
}

.masAmigos h1{
  position: relative;
  left: 9.6%;
  font-size: 60px;
  font-weight: 700;
}

.masAmigos .masAmigosTexto h3{
  font-size: 40px;
  font-weight: 400;
  width: auto;
  margin-bottom: 1%;
}

.masAmigos .masAmigosTexto {
  font-size: 20px;
  font-weight: 400;
  width: 467px;
  overflow-y: scroll;
  max-height: 400px;
  margin-left: 56%;
  margin-top: -4%;
}
.masAmigosImg img {
  position: absolute;
}
#textContainer::-webkit-scrollbar {
  overflow: hidden;
}
.masAmigosTexto .text{
  transition: ease-in-out .7s;
}

#imageContainer{
  margin-left: 8.5%;
  position: sticky;

}



/*Seccion ComprarAhora*/
.comprarAhora h1{
  z-index: 10;
  margin-top: -25%;
  margin-left: 10%;
  font-weight: 400;
  width: 816px;
}

.fondoComprarAhora{
  position: relative;
  width: 100%;
  height: 478px;
  background-color: #000;
  clip-path: polygon(0 0%, 100% 26%, 100% 73%, 0% 100%);
}

.btn_comprarAhora{
  position: relative;
  left: 10%;
  width: 292px;
  z-index: 10;
}

/*ANIMACION SPRITESHEET*/
.sprite {
  position: relative;
  left: 50%;
  width: 100px;
  height: 160px;
  background-image: url(./imgs/spriteSM.png);
  background-size: cover;
  animation: spriteAnimation 3.5s steps(11) infinite;
}

.sprite:hover{
  background-image: url(./imgs/spriteSMhover.png);
  background-size: cover;
  animation: spriteAnimation 3.5s steps(11) infinite;
  cursor: pointer;
}


@keyframes spriteAnimation {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -1170px;
  }
}