
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap'); 
  
  
  body{
     margin: 0;
  }
header img{
  top: 0%;
  position: absolute;
}
header .fondo{
    height: 126px;
}

header{
  /* margin-left: -66px; */
  display: flex;
  justify-content: space-between;
   position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  transition: height 1s;
}

header img.fondo {
  height: 126px;
  width: 100%;
}

#parallax1Layer8 .logo {/* cuando scrolleo */
  transition: transform 1s ease; 
}

.oculto {
  opacity: 0;
  transition: opacity 0s ease;
}

.mostrard {
  opacity: 1;
  top: -16px;
}

.btnsHeader{
  display: flex;
  justify-content: center;
  margin-top: 1%;
  width: 78%;
  position: absolute;
  margin-left: 100px;
}

.btn_menu{
  z-index: 15;
  position: absolute;
  left: 0;
  transition:transform 1s ease; 
}

.btn_comprar{
  position: fixed;
  z-index: 15;
  color: #02187e;
  background-color: #ffe901;
  font-family:'Lato';
  font-weight: bolder;
  font-size: 20px;
  border-radius: 30px;
  border: 8px solid #2982ff;
  width: 200px;
  height: 60px;
  box-shadow: 4px 4px #02187e;
  transition: background-color 1s, color 1s;
  right: 0;
  transition:transform 1s ease; 
  margin-right: 7%
}

.btn_comprar:hover{
  color: #ffe901;
  background-color: #02187e; 
  cursor: pointer;
}

.btn_comprar p{
  margin: 0%;
}
.inicio{
  margin-top: 10%;
  height: 950px;
background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0) 100%);
}
/* presentacion */

/* .spidermanInicio{
  width: 1280px;
} */
/* .spidermanFondo{
  margin: 0;
} */
.inicio{
  margin-top: 0;
}
.inicio div{
	position: absolute;
}

#parallax1Layer0 img{
  margin-left: 0px;
  width: 100%;
  margin-top:7%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#parallax1Layer1 img{
  margin-top: 634px;
  margin-left: 68%;
  transform: translateY(30px);
  /* transition: transform 0.5s ease; */
}
 #parallax1Layer2{ 
  /* display: flex;
  justify-content: space-around;
  width: 100%; */
  margin-top: 144px;
  
}
#parallax1Layer2 .edifDer{
position: absolute;
left: 969px
}
#parallax1Layer2 .ediIzq{
position: absolute;

}

.inicio #parallax1Layer2 img{
  transform: translateY(80px);
  transition: transform 0.5s ease;
}

#parallax1Layer3 img{
  margin-top: 388px;
  margin-left: 90px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}


#parallax1Layer4 img{
  margin-top: 335px;
  margin-left: 762px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

#parallax1Layer5 img{
  position: absolute;
  margin-top: 403px;
  margin-left: 404px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

#parallax1Layer3.mostrar img,
#parallax1Layer4.mostrar img,
#parallax1Layer5.mostrar img,
#parallax1Layer0.mostrar img,
#parallax1Layer1.mostrar img,
#parallax1Layer2.mostrar img,
#parallax1Layer8.mostrar img,
#parallax1Layer6.mostrar img,
#parallax1Layer7.mostrar img{
  opacity:1;
  transform: translateY(0);

}

#parallax1Layer6 img{
  margin-top: 388px;
  margin-left: 1051px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

#parallax1Layer7 img{
  position: absolute;
  margin-top: 375px;
  margin-left: 390,35px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}
#parallax1Layer7,
#parallax1Layer5,
#parallax1Layer3,
#parallax1Layer6,
#parallax1Layerduende,
#parallax1Layer4
{
  z-index: 10;
  position: absolute;
}
#parallax1Layer8 img{
  margin-top: 91px;
  margin-left: 330px;
  opacity:0;
  transition: opacity 1.5s ease
}

/* Conoce a Spidey */
.duendeVerde h1{
  width: 646px;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 60px;
  color: #FFFFFF;
  position: absolute;
  height: 114px;
  top: 815px;
    left: 103.35px;
  z-index: 10;


line-height: 57px;


}

.conoceASpidey p{
  position: absolute;
  color: #FFFFFF;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 400; 
  line-height: 24px;
  text-align: left;
  z-index: 10;
  top: 970px;
  left:103.35px;
  Width:586px;
  Height:154px
}

.duendeVerde .rectangulo{
  top: 700px;
  width: 100%;
  z-index: 0;
  position: absolute;
}

#parallax1Layerduende img{

  height: 921px;
  margin-top: -260px;
  margin-left: 724px;
}

img.juegoDuende{
position: relative;
z-index: 5;
top:203.72px;
left:94.35px;
}

/*Seccion cards SM*/

.juegoSpiderman{
  display: flex;
  margin-top: 349px;
  justify-content: space-between;
  justify-self: center;
  position: absolute;
  left: 114px;
  right: 150px;
}

.juegoSpiderman .milesMoralesJugando{
  position: absolute;
  top: 0px;
  left: 376px;
}

.juegoSpiderman p{
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 333px;
  height: 218px;
}


.cardsJuegoSM{
  opacity: 0.00;
	transition: 1s all ease-in-out;
	-moz-transition: 1s all ease-in-out;
	-webkit-transition: 1s all ease-in-out;
  transform: translateY(90px);
}

.active{
  opacity: 1;
  transform: translateY(0px);
}

/*Seccion Gwen Stacy*/
.seccionGwenStacy{
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 1000px;
}

.fondoSeccionGS{
  position: absolute;
  z-index: 1;
  width: 100%; 
}

.cardsGS{
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin-left: -35%;
}
.cardGS1, .cardGS2, .cardGS3{
  position: relative;
  left: -23%;
}

.parallax-elementGS{
  transition: transform 0.5s ease-out;
}
.cardGS1{
  top:-8%;
}
.cardGS2{
  top: -24%;
}
.cardGS3{
  top:-39%
}
.cardGS1:hover, .cardGS2:hover, .cardGS3:hover{
  transform: translateY(-50px) rotate(-5deg);
  width: 110%;
  z-index: 5;
  cursor: pointer;
}
/*ANIMACION SPRITESHEET*/
.sprite {
  position: relative;
  left: 50%;
  width: 100px;
  height: 160px;
  background-image: url(./imgs/spriteSM.png);
  background-size: cover;
  animation: spriteAnimation 3.5s steps(11) infinite;
}

.sprite:hover{
  background-image: url(./imgs/spriteSMhover.png);
  background-size: cover;
  animation: spriteAnimation 3.5s steps(11) infinite;
  cursor: pointer;
}


@keyframes spriteAnimation {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -1170px;
  }
}
/* Mas amigos  */

.masAmigos{
  max-width: 1280px;
  margin-top: 1200px;
}
.masAmigos h1, .masAmigos .masAmigosTexto h3, .masAmigos .masAmigosTexto p{
  color: #000;
  font-family: 'Lato';
  font-style: normal;

}
.masAmigos h1{
  position: absolute;
  left: 104px;
  font-size: 60px;
  font-weight: 700;
  top: 4610px;
}

.masAmigos .masAmigosTexto h3{
  font-size: 40px;
  font-weight: 400;
  width: auto;
  margin-bottom: 25px;
}

.masAmigos .masAmigosTexto {
  font-size: 20px;
  font-weight: 400;
  margin-top: auto;
  width: 467px;
  overflow-y: scroll;
  max-height: 400px;
  margin-left: 711px;
}
#textContainer::-webkit-scrollbar {
  overflow: hidden;
}
.masAmigosTexto .text{
  transition: ease-in-out .4s;
}

#imageContainer{
  margin-left: 108px;
  position: sticky;

}
.masAmigosImg img {
 position: absolute;
 transition: opacity 0.5s ease-in-out;
}




